# https://github.com/lsd-rs/lsd
alias ls='lsd'
alias tree='lsd --tree'

# https://github.com/sharkdp/bat
alias cat='bat'

# https://github.com/dandavison/delta
alias diff='delta'

# https://github.com/BurntSushi/ripgrep
alias grep='rg'

# https://github.com/sharkdp/fd
alias find='fd'

# WSL2 only
if [[ "$(uname -r)" == *microsoft-standard-WSL2 ]]; then
  alias explorer="/mnt/c/Windows/explorer.exe"
  alias code="'/mnt/c/Program Files/Microsoft VS Code/bin/code'"
fi
