# ignore everything by default
*

# but keep the ignore file itself
!.gitignore

# allow traversal into subdirectories
!*/

# allow specific subdirectories that we want to version
!git/**
!mise/config.toml
!mise/miserc.toml
!sheldon/**
!zellij/**
